table{
    width: 100%;
    border: 3px solid black;
}
th{
font-weight: 900;
text-align: center;
border: 3px solid black;
}
 
 

/* 

table{
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    text-align: center;
}
td,th{
    color: white;
    border: 1px solid black;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.823);
}

th{
    background-color:cornflowerblue;
    color: white;
    font-size: 30px;
    font-weight: 900;
}


*/
